@charset "UTF-8";

@import 'vendor/normalize';

.policy-list {
  margin-top: 50px;

  .policy-card {
    margin-bottom: 20px;

    // not working
    span {
      margin: 30px 0 30px 0;
    }
  }

  button {
    width: 20%;
    margin-left: 80%;
  }
}
